/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #333;
    padding: 10px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.nav-left {
    width: 30%;
    text-align: start;
}

.nav-right {
    width: 65%;
    display: flex;
    justify-content: end; 
    align-items: center; 
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.about-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.about-left {
    width: 30%;
    text-align: center;
}

.about-right {
    width: 65%;
}

.profile-photo {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-size: 16px;
}

.contact-info p {
    display: flex;
    align-items: center;
}

.icon {
    width: 20px;
    margin-right: 10px;
}

.about-right h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.about-right p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.about-right h3 {
    font-size: 22px;
    color: #444;
    margin-top: 30px;
    margin-bottom: 10px;
}

.about-right ul {
    list-style-type: none;
    padding-left: 0;
}

.about-right ul li {
    margin-bottom: 10px;
}

.about-right strong {
    color: #333;
}

.about-right i {
    color: #777;
}

/* Убираем стандартные стили ссылок */
.about-left a {
    color: #0073e6;
    text-decoration: none;
}

.about-left a:hover {
    text-decoration: underline;
}


h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

.skill {
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skill img {
    width: 50px;
    height: 50px;
    margin-top: 15px;
}

.project {
    display: flex;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
}

.project img {
    width: 30%;
    object-fit: cover;
}

.project-details {
    padding: 15px;
}

.project-details h3 {
    margin-top: 0;
}

.technologies {
    display: grid;
    justify-content: start;
    grid-template-columns: repeat(auto-fit, minmax(30px, max-content));
    gap: 5px;
}

.technology {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 15px;
    text-align: center;
    white-space: nowrap;   /* Запрещаем перенос текста */
    overflow: hidden;      /* Скрываем текст, выходящий за границы */
    padding: 10px;
}

.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Recommendations Section */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    min-width: 300px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Home Button */
.home-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 15px;
    border-radius: 50%;
    font-size: 24px;
    aspect-ratio: 1/1;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.home-button:hover {
    background-color: #555;
}

/* Modal (popup) styling */
.modal {
    display: none; /* Скрываем модальное окно по умолчанию */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
